
@{
    Layout = "/Pages/Shared/_Layout.cshtml";

    var url = Url.Content($"~/reports/{Model}/create");
}

<html>
    <head>Hello this is the main page of the report.</head>
    <body>
    <button class="btn btn-primary" data-url="@url" type="button">Redirect to Create Page</button>
</body>
</html>

<script src="@($"/Reports/{Model}/index.js")" asp-append-version="true"></script>
