
@{
    var test = "Hello dynamic asdasd!";
    Layout = "/Pages/Shared/_Layout.cshtml";
}

<html>
    <head>Hello this is a dynamic report.</head>

    <body>
        <div id="body">@test</div>
    @if (Model is not null)
    {
        <div>The form has been posted.</div>
        <div>The FirstName is: @Model.FirstName</div>
    }

    <form method="post" action="https://localhost:44376/reports/1/create">
        <label for="firstName">First Name:</label>
        <input type="text" id="firstName" name="FirstName" value="@Model?.FirstName" />

        <button class="btn btn-primary" type="submit">Submit</button>
    </form>
    </body>
</html>

