@{
    Layout = "/Pages/Shared/_Layout.cshtml";

    var url = Url.Content("~/reports/1/create");
}

<html>
    <head>Hello this is the main page of the report.</head>
    <body>
    <button class="btn btn-primary" data-url="@url" type="button">Redirect to Create Page</button>
</body>
</html>

<script src="~/Reports/1/index.js"></script>
